.content{
  background-color: #D5D5D5;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
}

.content h1{
  color: #6D7993;
  text-align: center;
}

.cogumelos{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50PX;
  margin-bottom: 50px;

}

.content img{
  width: 120px;
  border-radius: 20PX;
}

.content p{
  text-align: justify;
  margin: 0px 100px 0px 100px;
}