body,html,*{
    margin: 0;
    padding:0;
}
/*  --- CABEÇALHO --- */
header{
    background-color:#96858F;
    padding-top: 15px;
    padding-bottom: 15px;
    align-content:flex-end;
}
.txheader{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{  
    justify-content: center;
    width: 1200px;
    margin: auto;
    font-size: 40px;
    color: white;
}
a {
    text-decoration: none;
    color: #D5D5D5;  
}
.menuHeader ul, li{
    display: inline;
    margin: 100px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    list-style: none;  
}
#imgMenu {
    border-radius: 50px;
    border-style: none;
    width: 100px;
    margin-right: 20;
}
/*  --- HOME--- */
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 100px;
    color: #6D7993;
}
/* ---cogumelos--- */
.cog{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
}
.nomecog{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#6D7993;
}
.imgcog{
    border-radius: 30px;
}
.cog2{
    display: grid;
    align-items: center;
    text-align: center;
}
/*  --- --- */
.tx{
    text-align: justify; 
    font-size: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:1400px;
    margin-left: 200px;
}

.mapa{
    display: grid;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

footer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #9099A2;
}
/* --- ABOUT ---  */
h2{
    font-size: 40px;
    color: #6D7993;
    display: flex;
    justify-content: center;
    margin: 50px  
}
.sobre{ 
    display: flex;
    justify-content: center;
}
.blocktext{
    font-size: 20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    width: 400px
    
}
.video{
   margin-left: 100px; 
}
.address{
    margin-left: 385px;
    margin-top: 30px;
}
/* --- CONTACT --- */

form{
    display: grid;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #D5D5D5;
}
.username, .email, .motivo, .msg{
    margin-bottom: 20px;
    font-size: 20px;
}
.middle{
    background-color: #D5D5D5;
    padding: 100px;
    padding-bottom: 120; 
}